.Login {
  display: grid;
  grid-template-columns: 1.4fr 1fr;
  width: 100vw;
  height: 100vh;
}

.Main {
  padding-left: 6.1vw;
  padding-top: 7vh;
}

.header {
  font-family: 'league_spartanbold';
  font-size: 3em;
  line-height: 1.3;
  color: #312d2d;
}

.subheader {
  font-family: 'lato_bold'; 
  font-size: 1.7em;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #000000;
}

.email {
  font-family: 'lato_bold'; 
  font-size: 1.429em;
  grid-area: email;
}

.password {
  font-family: 'lato_bold'; 
  font-size: 1.429em;
  grid-area: password;
}

.btn-secondary {
  font-family: "proxima_nova_semibold";
  font-size: 1.480em; 
  grid-area: confirm;
  border: solid 1px #ffad49;
  background-color: #ffad49;
  color: black;
  outline : none;
  box-shadow: none;
}

.btn-secondary:focus {
  font-family: "proxima_nova_semibold";
  font-size: 1.480em; 
  grid-area: confirm;
  border: solid 1px #ffad49;
  background-color: #ffad49 !important;
  color: black;
  outline : none !important;
  box-shadow: none !important;
}

.btn-secondary:hover {
  font-family: "proxima_nova_semibold";
  font-size: 1.480em; 
  grid-area: confirm;
  border: solid 1px #ff9d25;
  background-color: #ff9d25 !important;
  color: #ffffff;
  outline : none;
  box-shadow: none;
}

.btn-secondary:active {
  font-family: "proxima_nova_semibold";
  font-size: 1.480em; 
  grid-area: confirm;
  border: solid 1px #ff9d25;
  background-color: #ff9d25 !important;
  color: #ffffff;
  outline : none;
  box-shadow: none;
}

.form {
  display: grid;
  grid-template-columns: 3fr 2fr 2fr;
  grid-template-areas:
    "email email ."
    "password password ."
    "confirm . .";
}

.Illust {
  grid-column: 2/3;
  grid-row: 1/2;
  border: solid 1px #979797;
  background-color: #ffaa6d;
}

.image {
  background-image: url("../../assets/Graphics/tree sides .svg");
  background-repeat: no-repeat;
  height: 100%;
  background-size: cover;
  background-position: 15vw 0;
}

@media only screen and (max-width: 426px) { 
  .Main {
    padding-left: 6.1vw;
    padding-top: 7vh;
  }

  .header {
      font-size: 2.286em;
    }

  
  .image {
    background-image: url("../../assets/Graphics/tree sides .svg");
    background-repeat: no-repeat;
    height: 100%;
    background-size: 75vh;
    background-position: 1vw 1vw;
    background-origin: border-box;
  }
}