.layout {
  display: grid;
  grid-template-columns: 0.4fr 1fr;
  width: 100vw;
  height: 100vh;
}

.profile {
  text-align: center;
  padding-top: 7vh;
}

.options {
  grid-column: 1/2;
  background-color: #ffaa6d;
}

.interestDisplay {
  max-width: 500px;
}

.option{
  font-family: "league_spartanbold";
  margin-top : 80px;
  margin-left: 90px;
  margin-bottom: 55px;
}

.suboption {
  font-family: "proxima_nova_semibold";
  margin-left: 90px;
  margin-bottom: 55px;
  color: black;
  text-decoration: none;
}

.suboption:hover {
  color: black;
  text-decoration: none;
}

.subheader{
  text-align: center;
  font-family: "lato_bold";
  font-size: 1.5em;
}

.oneliner{
  text-align: center;
  font-family: "lato_light";
  font-size: 1.5em;
  font-weight: 300;
}

.description{
  text-align: center;
  font-family: "lato_light";
  font-size: 1.5em;
  font-weight: 300;
}

.interestDisplay{
  margin-left: auto !important;
  margin-right: auto !important;
}
