.layout {
  display: grid;
  grid-template-columns: 0.4fr 1fr;
  width: 100vw;
  height: 100vh;
}

.profile {
  text-align: center;
  padding-top: 7vh;
}

.options {
  grid-column: 1/2;
  background-color: #ffaa6d;
}

.interestDisplay {
  max-width: 500px;
  margin-left: auto !important;
  margin-right: auto !important;
}

.option{
  font-family: "league_spartanbold";
  margin-top : 80px;
  margin-left: 70px;
  margin-bottom: 55px;
  font-size: 2.2em;
}

.suboption {
  font-family: "proxima_nova_semibold";
  margin-left: 70px;
  margin-bottom: 55px;
  font-size: 2em;
  color: black;
  text-decoration: none;
}

.suboption:hover {
  color: black;
  text-decoration: none;
}

.subheader{
  text-align: center;
  font-family: "lato_bold";
  font-size: 1.5em;
}

.oneliner{
  text-align: center;
  font-family: "lato_light";
  font-size: 1.5em;
  font-weight: 300;
}

.description{
  text-align: center;
  font-family: "lato_light";
  font-size: 1.5em;
  font-weight: 300;
}

@media only screen and (max-width: 895px) { 
  .layout {
    display: grid;
    grid-template-columns: 0.3fr 1fr;
  }

  .option{
    font-family: "league_spartanbold";
    font-size: 1.7em;
    margin-top : 80px;
    margin-bottom: 40px;
    margin-left: 40px;
  }
  
  .suboption {
    font-family: "proxima_nova_semibold";
    font-size: 1.576em;
    margin-bottom: 40px;
    margin-left: 40px;
    color: black;
    text-decoration: none;
  }
  
  .suboption:hover {
    color: black;
    text-decoration: none;
  }
  
  .subheader{
    text-align: center;
    font-family: "lato_bold";
    font-size: 1.5em;
  }
  
  .oneliner{
    text-align: center;
    font-family: "lato_light";
    font-size: 1.5em;
    font-weight: 300;
  }
  
  .description{
    text-align: center;
    font-family: "lato_light";
    font-size: 1.5em;
    font-weight: 300;
  }
}

@media only screen and (max-width: 426px) { 
  .layout {
    display: grid;
    grid-template-columns: 0.2fr 1fr;
    width: 100vw;
    height: 100vh;
  }

  .option{
    font-family: "league_spartanbold";
    font-size: 1.429em;
    margin-top : 80px;
    margin-bottom: 40px;
    margin-left: 20px;
  }
  
  .suboption {
    font-family: "proxima_nova_semibold";
    font-size: 1.274em;
    margin-bottom: 40px;
    margin-left: 20px;
    color: black;
    text-decoration: none;
  }
  
  .suboption:hover {
    color: black;
    text-decoration: none;
  }
  
  .subheader{
    text-align: center;
    font-family: "lato_bold";
    font-size: 1.3em;
  }
  
  .oneliner{
    text-align: center;
    font-family: "lato_light";
    font-size: 1.3em;
    font-weight: 300;
  }
  
  .description{
    text-align: center;
    font-family: "lato_light";
    font-size: 1.3em;
    font-weight: 300;
  }

}