.Signup {
  display: grid;
  grid-template-columns: 1.4fr 1fr;
  width: 100vw;
  height: 100vh;
}

.Main {
  display: grid;
  background-color: #86d07b;
  grid-template-rows: 9fr 86fr;
  padding-left: 6.1vw;
  padding-top: 3.7vh;
  align-items: flex-start;
}

.header {
  font-family: 'league_spartanbold';
  font-size: 2.188em;
  color: #312d2d;
}

.email {
  font-family: 'lato_bold'; 
  font-size: 1.429em; 
  grid-area: email;
}

.password {
  font-family: 'lato_bold'; 
  font-size: 1.429em; 
  grid-area: password;
}

.confirmPassword {
  font-family: 'lato_bold'; 
  font-size: 1.429em; 
  grid-area: confirmPassword;
}

.name {
  font-family: 'lato_bold'; 
  font-size: 1.429em; 
  grid-area: name;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 1.63vw;
}

/*doesn't become single line anymore after 1.2em+ 
but it looks strange if it's below that size haha*/
.dob {
  font-family: 'lato_bold'; 
  font-size: 1.250em; 
  grid-area: dob;
}

.doc {
  font-family: 'lato_bold'; 
  font-size: 1.250em; 
  grid-area: doc;
}

.btn-secondary {
  font-family: "proxima_nova_semibold";
  font-size: 1.480em; 
  grid-area: confirm;
  border: solid 1px #ffad49;
  background-color: #ffad49;
  color: black;
  outline : none;
  box-shadow: none;
}

.btn-secondary:focus {
  font-family: "proxima_nova_semibold";
  font-size: 1.480em; 
  grid-area: confirm;
  border: solid 1px #ffad49;
  background-color: #ffad49 !important;
  color: black;
  outline : none !important;
  box-shadow: none !important;
}

.btn-secondary:hover {
  font-family: "proxima_nova_semibold";
  font-size: 1.480em; 
  grid-area: confirm;
  border: solid 1px #ff9d25;
  background-color: #ff9d25 !important;
  color: #ffffff;
  outline : none;
  box-shadow: none;
}

.btn-secondary:active {
  font-family: "proxima_nova_semibold";
  font-size: 1.480em; 
  grid-area: confirm;
  border: solid 1px #ff9d25;
  background-color: #ff9d25 !important;
  color: #ffffff;
  outline : none;
  box-shadow: none;
}
.form {
  display: grid;
  margin-bottom: 10px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas:
    "email email email email email . ."
    "name name name name name name ."
    "dob . . . . . ."
    "password password password password password . ."
    "confirmPassword confirmPassword confirmPassword confirmPassword confirmPassword . ."
    "doc doc doc doc doc . ."
    ". confirm confirm confirm . . .";
}

.label {
  font-family: 'lato_bold'; 
  font-family: 1.2em; 
  margin-bottom: 0.3rem;
}

.Illust {
  border: solid 1px #979797;
  background-color: #3ba37d;
}
