node_modules
.env
/client/acorn
/client/acorn.cmd
/client/atob
/client/atob.cmd
/client/ansi-html
/client/ansi-html.cmd
/client/autoprefixer
/client/autoprefixer.cmd
/client/babylon
/client/babylon.cmd
/client/css-blank-pseudo
/client/css-blank-pseudo.cmd
/client/css-has-pseudo
/client/css-has-pseudo.cmd
/client/css-prefers-color-scheme
/client/css-prefers-color-scheme.cmd
/client/cssesc
/client/cssesc.cmd
/client/detect
/client/detect-port
/client/detect-port.cmd
/client/detect.cmd
/client/errno
/client/errno.cmd
/client/escodegen
/client/escodegen.cmd
/client/esgenerate
/client/esgenerate.cmd
/client/eslint
/client/eslint.cmd
/client/esparse
/client/esparse.cmd
/client/esvalidate
/client/esvalidate.cmd
/client/handlebars
/client/handlebars.cmd
/client/he
/client/he.cmd
/client/html-minifier
/client/html-minifier.cmd
/client/import-local-fixture
/client/import-local-fixture.cmd
/client/is-ci
/client/is-ci.cmd
/client/jest
/client/jest-runtime
/client/jest-runtime.cmd
/client/jest.cmd
/client/js-yaml
/client/js-yaml.cmd
/client/jsesc
/client/jsesc.cmd
/client/json5
/client/json5.cmd
/client/loose-envify
/client/loose-envify.cmd
/client/miller-rabin
/client/miller-rabin.cmd
/client/mime
/client/mime.cmd
/client/mkdirp
/client/mkdirp.cmd
/client/multicast-dns
/client/multicast-dns.cmd
/client/parser
/client/parser.cmd
/client/react-scripts
/client/react-scripts.cmd
/client/regexp-tree
/client/regexp-tree.cmd
/client/regjsparser
/client/regjsparser.cmd
/client/rimraf
/client/rimraf.cmd
/client/sane
/client/sane.cmd
/client/semver
/client/semver.cmd
/client/sha.js
/client/sha.js.cmd
/client/sshpk-conv
/client/sshpk-conv.cmd
/client/sshpk-sign
/client/sshpk-sign.cmd
/client/sshpk-verify
/client/sshpk-verify.cmd
/client/svgo
/client/svgo.cmd
/client/terser
/client/terser.cmd
/client/uglifyjs
/client/uglifyjs.cmd
/client/uuid
/client/uuid.cmd
/client/watch
/client/watch.cmd
/client/webpack
/client/webpack-dev-server
/client/webpack-dev-server.cmd
/client/webpack.cmd
/client/which
/client/which.cmd