.summary {
  padding: 10px;
  display: grid;
  grid-row-gap: 5px;
}

.spaced {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.label {
  background-color: #ff9c40;
}

.check_button{
  width: 20px;
  height: 20px;
  padding: 20px;
  border: "2px #FF9C40 solid";
  margin-right:10px; 
  
}
.appointment {
  min-height: 23vh;
  border: 1px solid #979797;
  display: grid;
  grid-template-columns: 15px auto;
}

.description {
  border-right: 1px solid #979797;
  border-left: 1px solid #979797;
  border-bottom: 1px solid #979797;
  padding: 10px;
}


.card_heading {
  font-family: 'proxima_nova_semibold'; 
  font-size: 1.429em; 
}

.card_details {
  font-family: 'proxima_nova'; 
  font-size: 1.15em; 
}

.address{
  font-family: 'proxima_nova_bold'; 
  font-size: 1.16em; 
}

@media only screen and (max-width: 426px){
.summary{
  width: 100%; 
  height: 17%; 
}
}