.indicator {
  display: flex;
  flex-direction: row;
  border-style: solid;
  border-width: 1px;
  border-color: #9f9f9f;
  margin-top: 20px;
  padding-top: 2vh;
  padding-bottom: 2vh;
}

.avatar {
  margin-left: 40px;
}

.notification {
  font-family: "proxima_nova_semibold";
  margin-top: 14px;
  margin-left: 80px;
}

@media only screen and (max-width: 895px) {
  .avatar {
    margin-left: 10px;
  }

  .notification {
    margin-left: 60px;
  }
}

@media only screen and (max-width: 426px) {
  .avatar {
    margin-left: 10px;
    margin-top: 2px;
  }

  .notification {
    margin-left: 40px;
  }
}
