.nav-tab {
  font-family: "proxima_nova_semibold";
  font-size: 1.7em;
  text-align: center;
  background-color: #fff;
  padding: 10px 25px;
  width: 20%;
  color: #bbb;
  text-decoration: none;
}

.nav-tab:hover {
  background-color: white;
}

.nav-tab.active {
  background-color: #fff;
  color: #312d2d;
  border-top: 1px solid white;
  border-bottom: 2px solid orange;
  cursor: default;
}
