.buttons {
  display: flex;
  flex-direction: row;
  margin: 10px 30px 10px 0;
}

.slider {
  margin: 0px 50px 50px 0px;
}

.icon {
  padding: 0;
  color: #fb5454 !important;
}

.rail {
  background-color: white;
}

.value {
  min-width: 12vw;
  font-family: "lato";
  font-size: 1.2em;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.4px;
  text-align: center;
  background-color: #ff7a52 !important;
  opacity: 1 !important;
  border-color: #ff7a52 !important;
}