.skill-list {
  margin: 0;
}

.button{
  position: relative;
  padding: 0.4em 2.4em;
  font-family: "proxima_nova_semibold";
  font-size: 1.48em;
  border: solid 1px #ffad49;
  background-color: #ffad49;
  color: black;
  grid-area: confirm;
  outline: none;
  box-shadow: none;
}

.button:focus {
  font-family: "proxima_nova_semibold";
  font-size: 1.48em;
  border: solid 1px #ffad49;
  background-color: #ffad49;
  color: black;
  grid-area: confirm;
  outline: none !important;
  box-shadow: none !important;
}

.button:hover {
  font-family: "proxima_nova_semibold";
  font-size: 1.48em;
  border: solid 1px #ffad49;
  background-color: #ffad49;
  color: white;
  grid-area: confirm;
  outline: none;
  box-shadow: none;
}

.button:active {
  font-family: "proxima_nova_semibold";
  font-size: 1.48em;
  border: solid 1px #ffad49;
  background-color: #ffad49 !important;
  color: white;
  grid-area: confirm;
  outline: none;
  box-shadow: none;
}

.avatar{
  width: 100% !important;
}

@media only screen and (max-width: 426px) { 
  .button{
    padding: 0.3em 0.35em;
  }
}