.skill-list {
  margin: 0;
}

.button{
  position: relative;
  padding: 0.4em 2.4em;
  font-family: "proxima_nova_semibold";
  font-size: 1.48em;
  border: solid 1px #ffad49;
  background-color: #ffad49;
  color: black;
  grid-area: confirm;
  outline: none;
  box-shadow: none;
}

.button:focus {
  font-family: "proxima_nova_semibold";
  font-size: 1.48em;
  border: solid 1px #ffad49;
  background-color: #ffad49;
  color: black;
  grid-area: confirm;
  outline: none !important;
  box-shadow: none !important;
}

.button:hover {
  font-family: "proxima_nova_semibold";
  font-size: 1.48em;
  border: solid 1px #ffad49;
  background-color: #ffad49;
  color: white;
  grid-area: confirm;
  outline: none;
  box-shadow: none;
}

.button:active {
  font-family: "proxima_nova_semibold";
  font-size: 1.48em;
  border: solid 1px #ffad49;
  background-color: #ffad49 !important;
  color: white;
  grid-area: confirm;
  outline: none;
  box-shadow: none;
}

.firstName{
  font-size: 1.48em;
  margin-bottom: 0.1em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.lastName{
  font-size: 1.48em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.cardText{
  margin-bottom: 20px;
  height: 5em;
}

.skill{
  line-height: 1.5em;
  max-height: 1.5em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.avatar{
  width: 100% !important;
}

@media only screen and (max-width: 895px) { 
  .button{
    padding: 0.5em 0.7em;
  }

  .firstName{
    font-size: 1.3em;
    margin-bottom: 0.06em;
  }
  
  .lastName{
    font-size: 1.3em;
  }
}

@media only screen and (max-width: 426px) { 
  .button{
    padding: 0.3em 0.35em;
  }

  .firstName{
    font-size: 1.23em;
    margin-bottom: 0.06em;
  }
  
  .lastName{
    font-size: 1.23em;
  }
}