.buttons {
  display: flex;
  flex-direction: row;
  margin: 10px 30px 10px 0;
}

.slider {
  margin: 10px 50px 50px 10px;
}

.icon {
  padding: 0;
  color: #ff5353 !important;
}

.value {
  min-width: 12vw;
  font-family: "lato";
  font-size: 1.5em;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.4px;
  text-align: center;
  background-color: #fd7872 !important;
  opacity: 1 !important;
  border-color: #fd7872 !important;
}
