.container {
  margin-left: 8vw;
  margin-top: 10px;
  margin-right: 8vw;
  margin-bottom: 10px;
}

.headings {
  font-family: "lato_bold";
  font-size: 1.7em;
}

.feedbackHeading{
  font-family: "lato_bold";
  font-size: 1.7em;
  margin-top: 20px;
}

.button {
  font-family: "proxima_nova_semibold";
  background-color: #ffaa6d;
  color: #000000;
  border-color: #ffaa6d;
}

.button:hover {
  background-color: #ff9d57;
  color: #ffffff;
  border-color: #ff9d57;
}

.subappointment{
  display: flex;
  flex-direction: row;
}

/*can disregard this if using material icon */
.symbol {
  color: #ffaa6d;
  font-family: "proxima_nova_bold";
  font-size: 1.7em;
  margin-left: 10px;
}

@media only screen and (max-width: 426px) {
  .headings {
    font-size: 1.643em;
  }
}
