.container {
  margin-left: 8vw;
  margin-top: 10px;
  margin-right: 8vw;
  margin-bottom: 10px;
}

.headings{
  font-family: 'lato_bold'; 
  font-size: 1.7em; 
}

.button{
  font-family: 'proxima_nova_semibold'; 
  background-color: #FFAA6D; 
  color: #000000; 
  border-color: #FFAA6D; 

}

.button:hover{
  background-color: #FF9D57; 
  color: #ffffff; 
  border-color: #FF9D57; 
}
/*can disregard this if using material icon */ 
.symbol{
  color: #FFAA6D; 
  font-family: 'proxima_nova_bold'; 
  font-size: 1.7em; 
}

@media only screen and (max-width: 426px){
  
  .headings{
  font-size: 1.643em; 
}
  
}